body {
margin:0;
padding:0;
}
ul {
list-style: none;
}
a {
text-decoration: none;
}

.secTitle {
font-size: 48px;
line-height: 30px;
font-family: "Arial" sans-serif;
margin-bottom: 20px;
letter-spacing: 2px;
color: #56534c;
}
.titleParagraf {
text-transform: uppercase;
font-size: 14px;
font-family: "Arial" sans-serif;
line-height: 24px;
letter-spacing: 2px;
color: #a47d5e;
}
.text {
font-size: 16px;
line-height: 24px;
letter-spacing: 1px;
}
.page_head {
height: 900px;
background: url("../img/img1.png") no-repeat center center;
color: white;
position: relative;
}
.navig {
background-color: black;
opacity: 0.5;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.navig ul li {
display: inline-block;
}
.navig ul li:not(:last-child) {
margin-right: 20px;
}
.navig ul li a {
color: #ffffff;
}
.navig>img {
-webkit-filter: drop-shadow(1px 1px 0px white)
 drop-shadow(-1px -1px 0px white)
 drop-shadow(1.5px 1.5px 0px white)
 drop-shadow(-1.5px -1.5px 0px white)
 ;
        filter: drop-shadow(1px 1px 0px white)
 drop-shadow(-1px -1px 0px white)
 drop-shadow(1.5px 1.5px 0px white)
 drop-shadow(-1.5px -1.5px 0px white)
 ;
}
.page_head>h1 {
text-align: center;
font-size: 92px;
font-family: "Arial" sans-serif;
padding-top: 180px;
-webkit-filter: drop-shadow( 1px 1px 0 black);
        filter: drop-shadow( 1px 1px 0 black);
}
.page_head>p {
text-align: center;
font-size: 24px;
line-height: 36px;
color: #212020;
font-weight: bold;
font-family: "Arial" sans-serif;
margin-top: 100px;
-webkit-filter: drop-shadow( 0px 1px 0 black);
        filter: drop-shadow( 0px 1px 0 black);
}
.btn {
text-align: center;
margin-top: 100px;
}
.btn>a {
background-color: black;
opacity: 0.5;
border: 1px dashed white;
color: white;
padding: 20px 40px;
font-weight: bold;
}
.baton {
width: 110px;
height: 110px;
position: absolute;
background: transparent url("../img/BATON.png") no-repeat center center;
z-index: 20;
bottom: -55px;
margin: auto;
left:0;
right: 0;
}
.inbaton {
width: 80px;
height: 80px;
background: white;
-webkit-border-radius: 50%;
        border-radius: 50%;

left: 0;
right: 0;
bottom: -40px;
position: absolute;
margin: auto;
}
.artOfcake {
height: 760px;
padding-top: 0px;
padding-bottom: 0px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
background-color: #f9f9f7;
color: black;
}
.left {
padding-top: 70px;
width: 50%;
text-align: center;
}
.text1 {
margin-top: 50px;}

#chef {
margin-top: 45px;
font-size: 24px;
}
.chefAbout {
margin-top: 45px;
}
.inline {
display: inline-block;
vertical-align: middle;
}
.BG {
width: 115px;
height: 115px;
background: url("../img/avatar.png");
margin-left: 30px;
margin-right: 30px;
-webkit-filter: drop-shadow(10px 20px 10px #e6e6e6);
        filter: drop-shadow(10px 20px 10px #e6e6e6);
}
.benito {
border-top: 1px solid black; 
border-bottom: 1px solid black;
height: 60px;
line-height: 60px;
width: 111px;
font-size: 24px;
}
.quotes {
text-align: center;
}
.quotes ul {
padding-left:0;
}
.quotes ul li {
display: inline-block;
height: 85px;
}
.quotes ul li:first-child {
width: 32px;
background: url("../img/quotes_left.png") no-repeat center top;
}
.quotes ul li:nth-child(2) {
width: 239px;
background: url("../img/unicue.png") no-repeat center center;
margin-right: 60px;
margin-left: 60px;
}
.quotes ul li:last-child {
width: 32px;
background: url("../img/quotes_right.png") no-repeat center bottom;
}
.right {
width: 50%;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-align-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
position: relative;
}
.right .img {
width: 295px;
height: 251px;
outline: 5px solid white;
outline-offset: -10px;
-webkit-background-size: contain;
        background-size: contain;
}
.right .img1 {
background: url("../img/img top left.png") no-repeat center center;
margin-bottom: 20px;
margin-right: 20px;
}
.right .img2 {
background: url("../img/img top right.png") no-repeat center center;
margin-bottom: 20px;
}
.right .img3 {
background: url("../img/img bottom left.png") no-repeat center center;
margin-right: 20px;
}
.right .img4 {
background: url("../img/img bottom right.png") no-repeat center center;
}
 .sogood {
position: absolute;
width: 260px;
height: 260px;
-webkit-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
background: url("../img/SO_GOOD.png") no-repeat center center;
-webkit-border-radius: 50%;
        border-radius: 50%;
text-align: center;
left: 26%;
margin: auto;
font-size: 24px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
color: #c9b176;
font-weight: bold;
line-height: 40px;
-webkit-filter: drop-shadow(0px 5px 5px #56534c);
        filter: drop-shadow(0px 5px 5px #56534c); 
opacity: 0.9;
}
.sogood p{
margin: auto;
opacity: none;

}
.tastyPancake{
height: 760px;
color: black;
background: url("../img/muka kolos.png") no-repeat center top;
-webkit-background-size: cover;
        background-size: cover;
padding-top: 1px;
position: relative;

}
.pancake {
height: 512px;
width: 966px;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top: 140px;
position: relative;
}
.pancake>div {
float:left;
}
.pancake .left2 {
width: 420px;
height: 512px;
background:  url("../img/blinchiki.png") no-repeat center center;
-webkit-box-shadow: inset -10px 0 1px -5px gray;
        box-shadow: inset -10px 0 1px -5px gray;
position: relative;
}
.menu-btn {
position: absolute;
left: -30px;
top: 0;
bottom: 0;
margin: auto;
width: 50px;
height: 50px;
background: #ffffff; 
-webkit-border-radius: 50%; 
        border-radius: 50%;
z-index: 20;
text-align: center;
border:  5px solid rgba(178, 174, 174, 0.5);
}
.menu-btn a {
line-height: 58px;
}
.menu-btn a img {
display: inline-block;
}

.pancake .right2 {
width: 546px;
height: 512px;
position: relative;
background: white url("../img/windmill.png") no-repeat right bottom;
}
.title2 {
padding-top: 50px;
padding-left: 50px;
}
.right2 .titleParagraf {
padding-left: 50px;
}
.text2 {
padding-left: 50px;
margin-top: 50px
}
.slide1 {
margin-top: 100px;
text-align: center;
}

.slide1 li {
display: inline-block;
vertical-align: middle;
}
.slide1 li:not(:last-child) {
padding-right: 10px;
}
.slide1 li:first-child div{
padding-right: 0px;
}
.slide1 li:last-child  div{
padding-left: 0px;
}
.img div {
width: 90px;
height: 90px;
-webkit-border-radius: 50%;
        border-radius: 50%;
-webkit-transition-property: width, height;
-o-transition-property: width, height;
transition-property: width, height;
-webkit-transition-duration: 0.0s;
     -o-transition-duration: 0.0s;
        transition-duration: 0.0s;
position: relative;
background-color: red;
}

.img div:active{
width: 450px;
height: 300px;
-webkit-border-radius: 20%;
        border-radius: 20%;
position: absolute;
top: 250px;
left: 150px;
-webkit-filter: drop-shadow(5px 5px 3px #cccccc);
        filter: drop-shadow(5px 5px 3px #cccccc);
}
.img1 div {
background: url("../img/img_slide1.png") no-repeat center center;
-webkit-background-size: cover;
        background-size: cover;

}
.img2 div {
background: url("../img/img_slide2.png") no-repeat center center;
-webkit-background-size: cover;
        background-size: cover;

}
.img3 div {
background: url("../img/img_slide3.png") no-repeat center center;
-webkit-background-size: cover;
        background-size: cover;
}
.hiddened {
position: absolute;
z-index:-1;
}
.unhiddened {
margin-left: 1px;
display: inline-block;
vertical-align: middle;
position: auto;
z-index: 4;
}
.arrow div {
width: 36px;
height: 36px;
}
.arrow-left div {
background: url("../img/arrow left.png") no-repeat center center;
margin-right: 15px;
}
.arrow-right div {
background: url("../img/arrow right.png") no-repeat center center;
margin-left: 15px;
}
.readyin {
width: 198px;
height: 199px;
background: #cccccc url("../img/ready in 40 mins.png") no-repeat center center;
position: absolute;
top: 100px;
left: 1050px;
-webkit-box-shadow: -30px 27px 30px -20px #e6e6e6;
        box-shadow: -30px 27px 30px -20px #e6e6e6;
}

.breakfast {
height: 760px;
background-image: url("../img/breakfast.png");
background-repeat: no-repeat;
background-position: -50px -150px;
 
position: relative;

}
.left4{
float: left;
width: 50%;
text-align: center;
color: white;
padding-left: 100px;
}
.left4 h1 {
padding-top: 50px;
font-size: 48px;
line-height: 30px;
font-family: "Arial" sans-serif;
margin-bottom: 20px;
letter-spacing: 4px;
}
.titleParagraf4 {
letter-spacing: 1px;
margin-bottom: 50px;
}

.preposition {
font-size: 26px;
line-height: 20px;
font-weight: bold;
font-family: "Arial" sans-serif;
margin-bottom: 0px;
margin-top:10px;
}
.prepositionCons {
font-size: 14px;
line-height: 20px;
font-family: "Arial" sans-serif;
margin-bottom: 0px;
}

.price {
font-size: 36px;
line-height: 30px;
font-family: "Arial" sans-serif;
color: #a47d5e;
height: 80px;
}
.price.plusImg {
background: url("../img/left_breakfast_img.png") no-repeat center bottom;
}
.right4 {
background-color: #7c7b76;
width: 440px;
height: 480px;
top: 60px;
left: 820px;
overflow: hidden;
float: none;
background-image: url("../img/menu_head.png");
background-repeat: no-repeat;
background-position: center 110px;
text-align: center;
margin-top:90px;
outline: 1px dashed #9e9c93;
outline-offset: -10px;
position: absolute;
z-index: 1;
}
.active {
top: auto !important;
left: auto !important;
z-index:9 !important;
background-color: white !important;
position: relative !important;
float: left !important;
width: 440px !important;
height: 600px !important;
outline-offset: -20px !important;
}
.right4 .abb {
display: inline-block;
margin-top: 50px;
}
.right4 .abb.first {
margin-right: 190px;
}
.right4 .secTitle4 {
font-size: 48px;
line-height: 58px;
font-family: "Arial" sans-serif;
margin-bottom: 20px;
letter-spacing: 0px;
color: #56534c;
padding-top: 70px;
}
 .kolos {
position: absolute;
z-index: 10;
width: 300px;
height: 230px;
bottom: 0px;
right: 0px;
background-image: url("../img/kolos.png");
background-repeat: no-repeat;
}
.right4 .btnRead {
margin-top: 30px;
width: 190px;
height: 50px;
display: inline-block;
border: 1px solid #9e9c93;
opacity: 1;
background-color: white;
}
.right4 .btnRead a {
background-color: transparent;
color: #a47d5e;
line-height: 50px;
font-size: 20px;
font-weight: bold;
font-family: "Arial" sans-serif;
opacity: 1;
}
.right4_2 {
left: 790px;
top: 20px;
overflow: hidden;
position: absolute;
width: 440px;
height: 560px;
background-color: #e5e5e5;
background-image: url("../img/grape.png");
background-repeat: no-repeat;
background-position: center 110px;
text-align: center;
margin-top:90px;
outline: 1px dashed #9e9c93;
outline-offset: -10px;
z-index: 3;
}
.right4_2 .abb {
display: inline-block;
margin-top: 50px;
}
.right4_2 .abb.first {
margin-right: 190px;
}
.right4_2 .secTitle4 {
font-size: 48px;
line-height: 58px;
font-family: "Arial" sans-serif;
margin-bottom: 20px;
letter-spacing: 0px;
color: #56534c;
padding-top: 70px;
}

.right4_2 .btnRead {
margin-top: 30px;
width: 190px;
height: 50px;
display: inline-block;
border: 1px solid #9e9c93;
opacity: 1;
background-color: white;
}
.right4_2 .btnRead a {
background-color: transparent;
color: #a47d5e;
line-height: 50px;
font-size: 20px;
font-weight: bold;
font-family: "Arial" sans-serif;
opacity: 1;
}
.right4_3 {
left: 805px;
top: 40px;
overflow: hidden;
position: absolute;
width: 440px;
height: 520px;
background-color: #d1d1d1;
background-image: url("../img/grape.png");
background-repeat: no-repeat;
background-position: center 110px;
text-align: center;
margin-top:90px;
outline: 1px dashed #9e9c93;
outline-offset: -10px;
z-index: 2;
}
.right4_3 .abb {
display: inline-block;
margin-top: 50px;
}
.right4_3 .abb.first {
margin-right: 190px;
}
.right4_3 .secTitle4 {
font-size: 48px;
line-height: 58px;
font-family: "Arial" sans-serif;
margin-bottom: 20px;
letter-spacing: 0px;
color: #56534c;
padding-top: 70px;
}

.right4_3 .btnRead {
margin-top: 30px;
width: 190px;
height: 50px;
display: inline-block;
border: 1px solid #9e9c93;
opacity: 1;
background-color: white;
}
.right4_3 .btnRead a {
background-color: transparent;
color: #a47d5e;
line-height: 50px;
font-size: 20px;
font-weight: bold;
font-family: "Arial" sans-serif;
opacity: 1;
}
[class^="right4"]:not(.active) {
	cursor: pointer;
}
.sandwichJibarito {
height: 1160px;
background: #f3f3f3 url("../img/sandvich_head.png") no-repeat center top;
padding-top: 1px;
} 
.sandwichJibarito h2, 
.sandwichJibarito p {
text-align: center;

}
.sandwichJibarito h2 {
padding-top: 60px;
}
.engredients {
margin-top: -70px;
float: left;
margin-right: 110px;
margin-left: 110px;
text-align: center;
}

.engredient {
margin-top: 55px;
}
.mainEngredient {
color: a47d5e;
font-size: 24px;
margin-bottom:0px;
margin-top: 20px;
margin-bottom: 25px;
}
.engredienDescription {
color: #56534c;
font-size: 14px;
line-height: 22px;
}
.ingredienImg {
width: 90px;
height: 90px;
-webkit-border-radius: 50%;
        border-radius: 50%;
margin-left:auto;
margin-right: auto;
}
.ingredienImg.img1 {
background: #f3f3f3 url("../img/sandwich_img1.png") no-repeat center center;
}
.ingredienImg.img2 {
background: #f3f3f3 url("../img/sandwich_img2.png") no-repeat center center;
}
.ingredienImg.img3 {
background: #f3f3f3 url("../img/sandwich_img3.png") no-repeat center center;
}
.sandwich {
margin-top: 80px;
}

.sandwichImg {
position: relative;
float: left;
border: 10px solid white;
}
.sandwichRecipe {
position: absolute;
width: 170px;
height: 60px;
border: 2px dashed #dfc691;
text-align: center;
bottom: -40px;
left: -30px;
background-color: white;
}
.sandwichRecipe>a {
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
font-family: "Arial" sans-serif;
line-height: 60px;
color: #dfc691;
}
.sandwichCook {
position: absolute;
top: -25px;
right: 0;
background-color: rgba(211, 255, 255, 0.5);
width: 200px;
}
.cook {
width: 200px;
height: 200px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.cook:not(:last-child) {
border-bottom: 1px solid black;
height: 199px;
}
.cook p {
margin: 0;
}
.cookStage {
padding-top: 40px;
color: #a47d5e;
text-transform: uppercase;
font-size: 24px;
font-weight: bold;
}
.cookTime {
font-size:  48px;
line-height: 58px;
font-family: "Arial" sans-serif;
color: #56534c;
}
.cookUnit {
font-size: 18px;
line-height: 20px;
font-family: "Arial" sans-serif;
color: #56534c;
padding-bottom: 40px;
}
.cookUnit.all {
padding-bottom: 20px;
}
.cookStage.all {
padding-top: 20px;
}
.cook.ready {
background: #fff url("../50_MIN.png") no-repeat center center;
}
.cookTime.all {
font-size: 100px;
color: #dfc691;
}
.clearfx {
clear: both;
}
.footerNav {
text-align: center;
margin-top: 120px;
height: 70px;
padding-top: 1px;
border: 1px solid transparent;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center
}
.footerNav ul {
padding:0;
margin-top: 0;
margin-bottom: 0;
}
.footerNav ul li {
display: inline-block;
}
.footerNav li:not(:last-child) {
margin-right: 20px;
}
.footerNav ul:not(:nth-child(2)) {
border-top: 1px solid #9e9c93;
border-bottom: 1px solid #9e9c93;
padding-left: 30px;
padding-right: 30px;
}
.footerNav ul:nth-child(2) {
margin-right: 60px;
margin-left:60px;
}
.footerNav ul:nth-child(2) li {
display: inline-block;
}
.footerNav ul:nth-child(2) li  a {
display: inline-block;
line-height: 70px;
}
.footerNav li a {
color: #56534c;
font-size: 18px;
line-height: 70px;
text-transform: uppercase;
}

.footerNav .gustoso  {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 0px;
height: 70px
}
.footerNav .gustoso li {
padding-top: 0px
}